services:
  watcher:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    container_name: go-classifieds-watcher
    volumes:
      - .:/app
    environment:
      - CGO_ENABLED=0
      - GOOS=linux
      - GOARCH=amd64
    env_file:
      - .env
    restart: "no"